.depoimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--vermelho-fundo);
    border-radius: 16px;
    padding: 4em;
    gap: 2em;
    margin: 5em auto;
    width: 80%;
}

    /* PRÉ-TITULO */
    .depoimento__pré-titulo {
        color: var(--vermelho-destaque);
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        margin: 0;
    }

    /* TITULO */
    .depoimento__titulo {
        color: var(--cinza-destaque);
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        margin: 0;
    }

    /* INFOS DA DEV */
    .depoimento__desenvolvedora {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .7em;
        margin: 0;
    }

        .desenvolvedora__imagem {
            object-fit: contain;
            margin: 0;
        }

        .desenvolvedora__nome {
            color: var(--cinza-destaque);
            font-size: 16px;
            font-weight: 500;
            margin: 0;
        }

        .desenvolvedora__cargo {
            color: var(--cinza-claro);
            font-size: 14px;
            font-weight: 400;
            margin: 0;
        }